body{
    background-color: darkgrey;
}
button{
    background-color: aqua;
    margin: 10px;
    width: 40vw;
}
h1{
    text-align: center;
    text-decoration: underline;
}

.dataInput{

    margin-left: auto;
    margin-right: auto;
    width: 60%;
    align-items: center;
}
.dataInput input{
 border: 2px solid black;
 border-radius:  4px;
}

#sendButton{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}
#console{
    margin: auto;
    display: block;
    width: 50%;
    height: min-content;
    text-align: center;
}

#colorBox{
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: 10vh;
    background-color:  white;
    border:  black 2px solid;
    border-radius: 5px;
}
#colorValue{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: white;
    mix-blend-mode: difference;
    font-size:  2rem;
}
#rButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: beige;
    height: 2rem;
}